@media screen and (max-width: 1199px) {
  .body_wrapper {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto auto auto auto;
  }
  .body_wrapper .dropdowns {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 4vh);
  }
  .body_wrapper .dropdowns #weapon {
    grid-row: 1;
  }
  .body_wrapper .dropdowns #frame {
    grid-row: 2;
  }
  .body_wrapper .dropdowns #barrel {
    grid-row: 3;
  }
  .body_wrapper .dropdowns #mag {
    grid-row: 4;
  }
  .body_wrapper .dropdowns #trait1 {
    grid-row: 5;
  }
  .body_wrapper .dropdowns #trait2 {
    grid-row: 6;
  }
  .body_wrapper .stats {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 48vh;
  }
  .body_wrapper .stats .statHeader {
    grid-row: 1;
    text-align: center;
  }
  .body_wrapper .stats .statList {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(12, 4vh);
    text-align: center;
  }
  .body_wrapper .stats .statList #impact {
    grid-row: 1;
  }
  .body_wrapper .stats .statList #range {
    grid-row: 2;
  }
  .body_wrapper .stats .statList #stab {
    grid-row: 3;
  }
  .body_wrapper .stats .statList #handling {
    grid-row: 4;
  }
  .body_wrapper .stats .statList #reload {
    grid-row: 5;
  }
  .body_wrapper .stats .statList #aa {
    grid-row: 6;
  }
  .body_wrapper .stats .statList #zoom {
    grid-row: 7;
  }
  .body_wrapper .stats .statList #recoilDir {
    grid-row: 8;
  }
  .body_wrapper .stats .statList #rpm {
    grid-row: 9;
  }
  .body_wrapper .stats .statList #draw {
    grid-row: 10;
  }
  .body_wrapper .stats .statList #accuracy {
    grid-row: 11;
  }
  .body_wrapper .stats .statList #mag {
    grid-row: 12;
  }
  .body_wrapper .cost {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 24vh;
  }
  .body_wrapper .cost .weaponCost {
    grid-row: 1;
    text-align: center;
  }
  .body_wrapper .cost .costList {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(6, 4vh);
    text-align: center;
  }
  .body_wrapper .cost .costList #resonantElement {
    grid-row: 1;
  }
  .body_wrapper .cost .costList #drownedElement {
    grid-row: 2;
  }
  .body_wrapper .cost .costList #glimmer {
    grid-row: 3;
  }
  .body_wrapper .cost .costList #ecore {
    grid-row: 4;
  }
  .body_wrapper .cost .costList #ascendantAlloy {
    grid-row: 5;
  }
  .body_wrapper .cost .costList .saveBuild {
    grid-row: 6;
    margin-bottom: 1vh;
  }
}
@media screen and (min-width: 1200px) {
  .body_wrapper {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto auto auto auto;
  }
  .body_wrapper .dropdowns {
    padding-top: 4vh;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 4vh);
    gap: 1vw;
  }
  .body_wrapper .dropdowns #weapon {
    grid-row: 1;
  }
  .body_wrapper .dropdowns #frame {
    grid-row: 2;
  }
  .body_wrapper .dropdowns #barrel {
    grid-row: 3;
  }
  .body_wrapper .dropdowns #mag {
    grid-row: 4;
  }
  .body_wrapper .dropdowns #trait1 {
    grid-row: 5;
  }
  .body_wrapper .dropdowns #trait2 {
    grid-row: 6;
  }
  .body_wrapper .stats {
    padding-top: 2vh;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 48vh;
  }
  .body_wrapper .stats .statHeader {
    grid-row: 1;
    text-align: center;
  }
  .body_wrapper .stats .statList {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(12, 4vh);
    text-align: center;
  }
  .body_wrapper .stats .statList #impact {
    grid-row: 1;
  }
  .body_wrapper .stats .statList #range {
    grid-row: 2;
  }
  .body_wrapper .stats .statList #stab {
    grid-row: 3;
  }
  .body_wrapper .stats .statList #handling {
    grid-row: 4;
  }
  .body_wrapper .stats .statList #reload {
    grid-row: 5;
  }
  .body_wrapper .stats .statList #aa {
    grid-row: 6;
  }
  .body_wrapper .stats .statList #zoom {
    grid-row: 7;
  }
  .body_wrapper .stats .statList #recoilDir {
    grid-row: 8;
  }
  .body_wrapper .stats .statList #rpm {
    grid-row: 9;
  }
  .body_wrapper .stats .statList #draw {
    grid-row: 10;
  }
  .body_wrapper .stats .statList #accuracy {
    grid-row: 11;
  }
  .body_wrapper .stats .statList #mag {
    grid-row: 12;
  }
  .body_wrapper .cost {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 24vh;
  }
  .body_wrapper .cost .weaponCost {
    grid-row: 1;
    text-align: center;
  }
  .body_wrapper .cost .costList {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(6, 4vh);
    text-align: center;
  }
  .body_wrapper .cost .costList #resonantElement {
    grid-row: 1;
  }
  .body_wrapper .cost .costList #drownedElement {
    grid-row: 2;
  }
  .body_wrapper .cost .costList #glimmer {
    grid-row: 3;
  }
  .body_wrapper .cost .costList #ecore {
    grid-row: 4;
  }
  .body_wrapper .cost .costList #ascendantAlloy {
    grid-row: 5;
  }
  .body_wrapper .cost .costList .saveBuild {
    grid-row: 6;
    margin-bottom: 1vh;
  }
}/*# sourceMappingURL=tool.css.map */