@import "imports.scss";

.hide{
    visibility: hidden;
}

@media screen  and (max-width: 1199px){
    .body_wrapper{
        display:grid;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 5vh 13vh 13vh 13vh 13vh 13vh 13vh 10vh;
        #mSaveList{
            grid-column: 2;
            grid-row: 1;
        }
        #mWeapon{
            grid-column: 2;
            grid-row: 2;
        }
        #mFrame{        
            grid-column: 2;
            grid-row: 3;
        }
        #mBarrel{
            grid-column: 2;
            grid-row: 4;
        }
        #mMag{
            grid-column: 2;
            grid-row: 5;
        }
        #mT1{
            grid-column: 2;
            grid-row: 6;
        }
        #mT2{
            grid-column: 2;
            grid-row: 7;
        }
    }
}

@media screen and (min-width: 1200px){
    .body_wrapper{
        display:grid;
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-rows: 5vh 13vh 13vh 13vh 13vh 13vh 13vh 10vh;
        padding-top: 3vh;
        #dSaveList{
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 0.5vh;
        }
        #dWeapon{
            grid-column: 2;
            grid-row: 2;
        }
        #dFrame{        
            grid-column: 2;
            grid-row: 3;
        }
        #dBarrel{
            grid-column: 2;
            grid-row: 4;
        }
        #dMag{
            grid-column: 2;
            grid-row: 5;
        }
        #dT1{
            grid-column: 2;
            grid-row: 6;
        }
        #dT2{
            grid-column: 2;
            grid-row: 7;
        }
        
    }
}