@import "imports.scss";

@media screen  and (max-width: 1199px){
    .body_wrapper{
        display:grid;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: auto auto auto auto;
        .dropdowns{
            grid-row: 1;
            grid-column: 2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(6, 4vh);
            #weapon{
                grid-row: 1;
            }
            #frame{
                grid-row: 2;
            }
            #barrel{
                grid-row: 3;
            }
            #mag{
                grid-row: 4;
            }
            #trait1{
                grid-row: 5;
            }
            #trait2{
                grid-row:6;
            }
        }
        .stats{
            grid-row: 2;
            grid-column: 2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 8vh 48vh;
            .statHeader{
                grid-row: 1;
                text-align: center;
            }
            .statList{
                grid-row: 2;
                display: grid;
                grid-template-rows: repeat(12,4vh);
                text-align: center;
                #impact{
                    grid-row: 1;
                }
                #range{
                    grid-row: 2;
                }
                #stab{
                    grid-row: 3;
                }
                #handling{
                    grid-row: 4;
                }
                #reload{
                    grid-row:5;
                }
                #aa{
                    grid-row: 6;
                }
                #zoom{
                    grid-row: 7;
                }
                #recoilDir{
                    grid-row: 8;
                }
                #rpm{
                    grid-row: 9;
                }
                #draw{
                    grid-row: 10;
                }
                #accuracy{
                    grid-row: 11;
                }
                #mag{
                    grid-row: 12;
                }
            }
        }
        .cost{
            grid-row: 3;
            grid-column: 2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 8vh 24vh;
            .weaponCost{
                grid-row: 1;
                text-align: center;
            }
            .costList{
                grid-row: 2;
                display: grid;
                grid-template-rows: repeat(6, 4vh);
                text-align: center;
                #resonantElement{
                    grid-row: 1;
                }
                #drownedElement{
                    grid-row: 2;
                }
                #glimmer{
                    grid-row: 3;
                }
                #ecore{
                    grid-row: 4;
                }
                #ascendantAlloy{
                    grid-row: 5;
                }
                .saveBuild{
                    grid-row: 6;
                    margin-bottom: 1vh;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .body_wrapper{
        padding: 1.5%;
        display: grid;
        grid-template-columns: 31.35vw 62.7vw;
        grid-template-rows: 5vh 70vh;
        gap: 2vh;
        header{
            grid-row: 1;
            grid-column: 1 / span 2;
            text-align: center;
            font-size: xx-large;
        }
        .weaponList{
            grid-row: 2;
            grid-column: 1;
            background-color: $secondary_container_backgrounds;
            max-height: 75vh;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(50, auto);
            border-style: solid;
            border-color: $border_colour;
            .wepListHead{
                text-align: center;
                padding: 1%;
                font-size: larger;
                border-bottom: solid;
                border-color: $border_colour;
                grid-row: 1;
                border-collapse: collapse;
            }
        }
        .toolArea{
            grid-row: 2;
            grid-column: 2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 66% 33%;
            max-height: 75vh;
            gap: 0.5vh;
            .perkArea{
                grid-row: 1;
                background-color: $secondary_container_backgrounds;
                display: grid;
                grid-template-columns: repeat(5,20%);
                border-style: solid;
                border-color: $border_colour;
                .frameHolder{
                    grid-column: 1;
                    border-right: solid;
                    border-color: $border_colour;
                }
                .barrelHolder{
                    grid-column: 2;
                    border-right: solid;
                    border-color: $border_colour;
                }
                .magHolder{
                    grid-column: 3;
                    border-right: solid;
                    border-color: $border_colour;
                }
                .col1Holder{
                    grid-column: 4;
                    border-right: solid;
                    border-color: $border_colour;
                }
                .col2Holder{
                    grid-column: 5;
                }
            }
            .statArea{
                grid-row: 2;
                background-color: $secondary_container_backgrounds;
                border-style: solid;
                border-color: $border_colour;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(6, 16%);
                align-items: center;
                h4{
                    font-weight: normal;
                }
                .impact, .range, .stab, .handling, .reload, .aa{
                    grid-column: 1;
                }
                .zoom, .recoil, .rpm, .draw, .accuracy, .mag{
                    grid-column: 2;
                }
                .resElement, .drownedElement, .glimmer, .ecore, .ascendantAlloy, .saveBuild{
                    grid-column: 3;
                }
                .impact, .zoom, .resElement{ 
                    grid-row: 1;
                }
                .range, .recoil, .drownedElement{
                    grid-row: 2;
                }
                .stab, .rpm, .glimmer{
                    grid-row: 3;
                }
                .handling, .draw, .ecore{
                    grid-row: 4;
                }
                .reload, .accuracy, .ascendantAlloy{
                    grid-row: 5;
                }
                .aa, .mag, .saveBuild{
                    grid-row: 6;
                }
                .saveBuild{
                    background-color: $button_background;
                    border: solid $button_border;
                    color: white;
                    height: 75%;
                }
            }
        }
    }
}